<form (ngSubmit)="addPost()" #f="ngForm" >


  <div class="row">

    <div class="input-field col s12">
      <input id="title"
             type="text"
             required
             name='title'
             [(ngModel)]="post.title"
             class="validate">

      <label for="email">Title</label>
    </div>


    <div class="input-field col s12">
      <textarea id="description"
             required
             name='description'
             [(ngModel)]="post.description"
             class="validate materialize-textarea">
      </textarea>

      <label for="description">Description</label>
    </div>

    <div class="input-field col s12">
      <input id="source"
             type="text"
             required
             name='source'
             [(ngModel)]="post.source"
             class="validate">

      <label for="email">Source</label>
    </div>

    <div class="col s12">
      <select id="kind"
             required
             name='kind'
             [(ngModel)]="post.kind"
             class="validate"
             style="display: block">
             <option disabled selected>
               Type of story
             </option>
             <option value="true">
               Hyperlinked Blog	Post
             </option>
             <option value="false">
               Hyperlinked Job	Post
             </option>
      </select>

    </div>

    <div class="col s12 " style="margin-top: 15px">
      <button type="submit"
              [disabled]="!(f.valid)"
              [ngClass]="{'disabled': !(f.valid)}"
              class="waves-effect waves-light btn blue right"
      >
        Add </button>
    </div>


  </div>

</form>


<app-auth-dialog #authDialog ></app-auth-dialog>
